<link rel="stylesheet" href="/css/user_sign_in.css">
<h1>Sign In</h1>
<div class="container">
    <form action="/user/create-session" method="POST" autocomplete="off">
        <input type="email" name="email" placeholder="Enter Email" required >
        <br><br>
        <input type="password" name="password" placeholder="Enter Password" required>
        <br><br>
        <input type="submit" value="Sign In">
        <br><br>
    </form>
</div>