<link rel="stylesheet" href="/css/user_sign_in.css">
<div class="container-fluid">
    <div class="header-image">
        <img src="../images/sign_in.svg" alt="">
    </div>
    <div class="container">
        <h1>Sign In</h1>
        <div class="image">
            <img src="../images/undraw_profile_pic_ic5t.svg" alt="">
        </div>
        <form action="/user/create-session" method="POST" autocomplete="off">
            <input type="email" name="email" placeholder="Enter Your Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input class="btn-grad" type="submit" value="Sign In">
        </form>
    </div>
</div>